body {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    margin: 0;
    background-color: #14453D;
    height: 100%
}

.header {
    padding: 30px;
    text-align: center;
    background: #3D7068;
    font-size: 30px;
}

.footer {
    padding: 5px;
    text-align: center;
    background: #3D7068;
    position: fixed;
    bottom: 0;
    left: 0;
}

/* Github Cat found in footer */
img {
    height: 75px;
    width: 75px;
}

table {
    float: right;
    border: 1px solid #43C59E;
    border-collapse: collapse; /* Removes middle line */
    margin-right: 20px;
}

/* Header of table */
th {
    background-color: #3D7068;
}

/* Header and rows of table */
th, td {
    padding: 10px;
}
