body {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    margin: 0;
    background-color: #14453D;
}

.header {
    padding: 30px;
    text-align: center;
    background: #3D7068;
}

.footer {
    padding: 5px;
    height: 124px;
    text-align: center;
    background: #3D7068;
    position: fixed;
    top: 1%;
    right: 1%;
    border-radius: 15px;
}

/* Github Cat found in footer */
img {
    height: 75px;
    width: 75px;
}

table {
    border: 1px solid #43C59E;
    border-collapse: collapse; /* Removes middle line */
    float: right;
}

/* Allows room for the footers */
#headsTable {
    margin-right: 120px;
}

/* Creates space between the tables */
#coinRuns {
    margin-right: 20px;
}

input {
    padding: 10px;
    /* Adds rounded corners */
    border-radius: 10px;
    border: 2px solid red;
}

/* Header of table */
th {
    background-color: #3D7068;
}

/* Header and rows of table */
th, td {
    padding: 10px;
}

tr:hover {
    background-color: #43C59E;
}


/* Line Graph */
.ct-series-a .ct-line {
    /* Colour of the series line */
    stroke: #43C59E;
    /* Control the thikness of your lines */
    stroke-width: 5px;
    /* Creates a dashed line with a pattern */
    stroke-dasharray: 10px 20px;
}

/* This selector overrides the points style on line charts. Points on line charts are actually just very short strokes. This allows you to customize even the point size in CSS */
.ct-series-a .ct-point {
    /* Colour of the points */
    stroke: #43C59E;
    /* Size of the points */
    stroke-width: 17px;
    /* Appearance of points */
    stroke-linecap: round;
}

#xLine, #xChart {
    text-align: center;
}

/* Bar Graph */
.ct-series-a .ct-bar {
  /* Colour of the bars */
  stroke: #43C59E;
  /* Width of the bars */
  stroke-width: 20px;
  /* Dashed bars */
  stroke-dasharray: 20px;
  /* Corners on the bars? */
  stroke-linecap: round;
}

/* RWD */
/* Hides the footer and tables */
@media only screen and (max-width: 870px) {

    .footer, table {
        display: none
    }